.width-200 {
  width: 200px;
}
.text-left {
  text-align: left;
}
.width-100percent {
  width: 100%;
}
.text-center {
  text-align: center;
}
.pt10 {
  padding-top: 10px;
}
.mt-30 {
  margin-top: -30px;
}
.mt20 {
  margin-top: 20px;
}
.text-right {
  text-align: right;
}
.m20 {
  margin: 20px;
}
.ml10 {
  margin-left: 10px;
}
.ml20 {
  margin-left: 20px;
}
.mt40 {
  margin-top: 40px;
}
.mt8 {
  margin-top: 8px;
}
.mt10 {
  margin-top: 10px;
}
.mt230 {
  margin-top: 230px;
}
.mt250 {
  margin-top: 250px;
}
.mt330 {
  margin-top: 330px;
}
.p0 {
  padding: 0;
}
.pl20 {
  padding-left: 20px;
}
.ml20 {
  margin-left: 20px;
}
.p20 {
  padding: 20px;
}
.p40 {
  padding: 40px;
}
.pl20 {
  padding-left: 20px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clear {
  clear: both;
}
.bgColor-gray {
  background-color: #F7F7F7;
}
.el-card__header {
  background-color: #F7F7F7;
}
.width-100percent {
  width: 100%;
}
.decoration {
  text-decoration: none;
}
.width-100percent {
  width: 100%;
}
.leave-space {
  white-space: pre-wrap;
}
.ft16 {
  font-size: 16px;
}
.file-list-left .ant-tree-node-content-wrapper .ant-tree-title {
  max-width: 150px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}